<!DOCTYPE html>
<html lang="ko-kr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image⁄x-icon" href="/image/Raphael_logo.png">

    <title>등하원 관리 시스템</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .Hyperlink {
		font-weight: bold;
	}
		.table, th {
		text-align: center;
	}
		.nav.nav-second-level li a{
		 padding-left: 50px;
	}

    </style>

</head>

<body onload="accountGetClick()">

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div>
                <button style="float :right" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">등하원 관리 시스템</a>
                <ul style="float :right" class="nav navbar-top-links navbar-right">
                    <li><a href="#" class="menu" onclick="onLogOut()"><i class="fa fa-sign-out fa-fw"></i> 로그 아웃</a></li>
                </ul>
            </div>
        </nav>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="active">
                            <a href="#"><i class="fa fa-user fa-fw"></i> 사용자 정보 관리<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a class="active" href="user_information">사용자 정보</a></li>
                                <li><a href="user_register">사용자 등록</a></li>
                                <li><a href="user_password_change">비밀번호 변경</a></li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-building fa-fw"></i> 지점 관리<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="branch_management">지점 정보</a></li>
                                <li><a href="branch_register">지점 등록</a></li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user-plus fa-fw"></i> 클라이언트 관리<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="client_management">클라이언트 정보</a></li>
                                <li><a href="client_register">클라이언트 등록</a></li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-rss fa-fw"></i> 서비스<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="service_management">서비스 상태</a></li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-database fa-fw"></i> 데이터 조회<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                    <li><a href="data_info">요약 정보</a></li>
                                    <li><a href="data_daily_check">당일 조회</a></li>
                                    <li><a href="data_check">기간 조회</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-history fa-fw"></i> 로그<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="log_management">RFID 로그</a></li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
            </div>



        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">사용자 정보 관리</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <% if( Authority.substr(0, 1) == '1' ) {%>
            <div class="row">
                <div class="col-lg-12">
                    <!-- /.panel-heading -->
                    <div id="table_Div" style="height: 100%;">
                    </div>
                    <div id="superUserTable" style="display:none">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example1">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>계정명</th>
                                    <th>사용자명</th>
                                    <th>RFID 1</th>
                                    <th>RFID 2</th>
                                    <th>지점</th>
                                    <th>전화 번호</th>
                                    <th>권한</th>
                                    <th>관리</th>
                                </tr>
                            </thead>

                        </table>
                        <!-- /.table-responsive -->
                    </div>

                    <div id="normalUserTable" style="display:none">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example2">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>계정명</th>
                                    <th>사용자명</th>
                                    <th>RFID 1</th>
                                    <th>RFID 2</th>
                                    <th>지점</th>
                                    <th>전화 번호</th>
                                    <th>권한</th>
                                </tr>
                            </thead>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <%} else {%>
            <div>
                <p>권한이 없습니다.</p>
            </div>
            <%}%>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

    <!-- /#wrapper -->

    <script>

        var table;

        function accountGetClick() {
            var AuthorityEnum = returnEnum();

            document.getElementById("table_Div").innerHTML = "";
            //권한 체크
            if ("<%= Authority%>".substr(AuthorityCheck("사용자 정보", AuthorityEnum), 1) == '1' && "<%= Authority%>".substr(AuthorityCheck("슈퍼 유저", AuthorityEnum), 1) == '1') {
                document.getElementById("table_Div").innerHTML = document.getElementById('superUserTable').innerHTML;

                table = $('#dataTables-example1').DataTable({
                    responsive: true,
                    retrieve: true,
                    bAutoWidth: true,
                    processing: true,

                    "ajax":
                    {
                        "url": "/htmlaccountget",
                        "type": "POST"
                    },

                    "columns": [
                        { data: "Idx" },
                        { data: "LoginId" },
                        { data: "Name" },
                        { data: "RFID1" },
                        { data: "RFID2" },
                        { data: "Branch" },
                        {
                            data: "SellPhone",
                            render: function (data) {
                                return PhoneReform(data);
                            }
                        },
                        {
                            data: "Authority",
                            render: function (data) {
                                var AuthorityStr = '';
                                var check = true;

                                //슈퍼 유저 체크
                                for (var i = 0; i < Object.keys(AuthorityEnum.enumValue).length; i++) {
                                    if (data.substr(i, 1) != '1') {
                                        check = false;
                                        break;
                                    }

                                }
                                if (check == true) {
                                    AuthorityStr += "슈퍼유저";
                                }
                                else {
                                    for (var j = 0; j < Object.keys(AuthorityEnum.enumValue).length; j++) {
                                        var str = data.substr(j, 1);
                                        if (str == '1') {
                                            if (j == 0) {
                                                AuthorityStr += '사용자 정보, ';
                                            }
                                            else if (j == 1) {
                                                AuthorityStr += '사용자 등록, ';
                                            }
                                            else if (j == 2) {
                                                AuthorityStr += '지점 정보, ';
                                            }
                                            else if (j == 3) {
                                                AuthorityStr += '지점 등록, ';
                                            }
                                            else if (j == 4) {
                                                AuthorityStr += '클라이언트 정보, ';
                                            }
                                            else if (j == 5) {
                                                AuthorityStr += '클라이언트 등록, ';
                                            }
                                            else if (j == 6) {
                                                AuthorityStr += '서비스 상태, ';
                                            }
                                            else if (j == 7) {
                                                AuthorityStr += '요약 정보, ';
                                            }
                                            else if (j == 8) {
                                                AuthorityStr += '기간 조회, ';
                                            }
                                            else if (j == 9) {
                                                AuthorityStr += '슈퍼 유저, ';
                                            }
                                        }
                                    }
                                    //마지막에 붙는", " 삭제
                                    AuthorityStr = AuthorityStr.slice(0, -2);
                                }
                                return AuthorityStr;
                            }
                        },
                        {
                            data: "Idx",
                            render: function (data) {

                                return "<button type='button' class='btn btn-outline btn-primary btn-xs' onclick='accountReform(" + data + ")'>수정</button>&nbsp;&nbsp;<button type='button' class='btn btn-outline btn-primary btn-xs' onclick='deleteBtnClick(" + data + ")'>삭제</button>"
                            }
                        }
                    ]
                });
                $('#container').css('display', 'block');
                table.columns.adjust().draw();
            }

            else if ("<%= Authority%>".substr(AuthorityCheck("사용자 정보", AuthorityEnum), 1) == '1' && "<%= Authority%>".substr(AuthorityCheck("슈퍼 유저", AuthorityEnum), 1) != '1') {
                document.getElementById("table_Div").innerHTML = document.getElementById('normalUserTable').innerHTML;
                var Num = -1;
                table = $('#dataTables-example2').DataTable({
                    responsive: true,
                    retrieve: true,
                    bAutoWidth: true,
                    processing: true,

                    "ajax":
                    {
                        "url": "/htmlaccountget",
                        "type": "POST"
                    },

                    "columns": [
                        { data: "Idx" },
                        { data: "LoginId" },
                        { data: "Name" },
                        { data: "RFID1" },
                        { data: "RFID2" },
                        { data: "Branch" },
                        {
                            data: "SellPhone",
                            render: function (data) {
                                return PhoneReform(data);
                            }
                        },
                        {
                            data: "Authority",
                            render: function (data) {
                                var AuthorityStr = '';
                                var check = true;

                                //슈퍼 유저 체크
                                for (var i = 0; i < Object.keys(AuthorityEnum.enumValue).length; i++) {
                                    if (data.substr(i, 1) != '1') {
                                        check = false;
                                        break;
                                    }

                                }
                                if (check == true) {
                                    AuthorityStr += "슈퍼유저";
                                }
                                else {
                                    for (var j = 0; j < Object.keys(AuthorityEnum.enumValue).length; j++) {
                                        var str = data.substr(j, 1);
                                        if (str == '1') {
                                            if (j == 0) {
                                                AuthorityStr += '사용자 정보, ';
                                            }
                                            else if (j == 1) {
                                                AuthorityStr += '사용자 등록, ';
                                            }
                                            else if (j == 2) {
                                                AuthorityStr += '지점 정보, ';
                                            }
                                            else if (j == 3) {
                                                AuthorityStr += '지점 등록, ';
                                            }
                                            else if (j == 4) {
                                                AuthorityStr += '클라이언트 정보, ';
                                            }
                                            else if (j == 5) {
                                                AuthorityStr += '클라이언트 등록, ';
                                            }
                                            else if (j == 6) {
                                                AuthorityStr += '서비스 상태, ';
                                            }
                                            else if (j == 7) {
                                                AuthorityStr += '요약 정보, ';
                                            }
                                            else if (j == 8) {
                                                AuthorityStr += '기간 조회, ';
                                            }
                                            else if (j == 9) {
                                                AuthorityStr += '슈퍼 유저, ';
                                            }
                                        }
                                    }
                                    //마지막에 붙는", " 삭제
                                    AuthorityStr = AuthorityStr.slice(0, -2);
                                }
                                return AuthorityStr;
                            }
                        }
                    ]

                });
                $('#container').css('display', 'block');
                table.columns.adjust().draw();
            }
        }


        function deleteBtnClick(row) {

            var deleteIdx = row;
            deleteURL('/htmlaccountdel', deleteIdx);
        }

        function accountReform(idx) {
            var t = $('#dataTables-example1').DataTable();

            var this_row;
            for (var i = 0; i < t.data().length; i++) {
                if (t.row(i).data().Idx == idx)
                    this_row = t.row(i).data();
            }
            $.ajax({
                url: '/htmlaccountidxtodata',                //주소
                dataType: 'json',                  //데이터 형식
                type: 'POST',                      //전송 타입
                data: {
                    'Idx': idx
                },               //전송 타입

                success: function (result) {          //성공했을 때 함수 인자 값으로 결과 값 나옴
                    if (result['error'] == "SUCCESS") {
                        var accountData = JSON.parse(JSON.stringify(result['data']));
                        var form = document.createElement('form');
                        form.setAttribute('method', "post");
                        form.setAttribute('action', '/accountreform');

                        //해당 Id의 패스워드와 권한 가져와서 보냄
                        var Pass = document.createElement("input");
                        Pass.type = 'hidden';
                        Pass.name = 'Passwd';
                        Pass.value = accountData[0].Passwd;
                        form.appendChild(Pass);

                        var Authority = document.createElement("input");
                        Authority.type = 'hidden';
                        Authority.name = 'Authority';
                        Authority.value = accountData[0].Authority;
                        form.appendChild(Authority);

                        formData(this_row.Idx, form, 'Idx');
                        formData(this_row.LoginId, form, 'LoginId');
                        formData(this_row.Name, form, 'Name');
                        formData(this_row.RFID1, form, 'RFID1');
                        formData(this_row.RFID2, form, 'RFID2');
                        formData(this_row.Branch, form, 'Branch');
                        formData(this_row.SellPhone, form, 'SellPhone');

                        document.body.appendChild(form);
                        form.submit();
                    }
                }
            });
        }
    

    </script>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <script type="text/javascript" src="/js/Func.js"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
</body>

</html>
